.HomePages {
  .Attractivejob {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 4rem;
      font-weight: 800;
    }

    .AttractivejobChild {
      width: 60%;
      height: 100%;
      margin-top: 20px;

      span {
        font-size: 1.6rem;
      }
    }
  }
  .OurCustomer {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 4rem;
      font-weight: 800;
    }

    .OurCustomerChild {
      width: 60%;
      height: 100%;
      margin-top: 20px;
    }
  }
}
